
body{
    background-image: url("https://i.pinimg.com/1200x/5e/e4/fb/5ee4fb3a39d3ff7ef90d56ef95f4f722.jpg");
    margin: 0;
}
#main {
    border: 3px solid black;
    height: 84vh;
    margin-top:4vh;
    margin-bottom: 4vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
    border-radius: 12px;
    padding-left: 10px;
    
}
nav {
    padding-left: 5%;
}

h3 {
    font-family: "JetBrains Mono", monospace;
    
}